.rpx-icon-small {
  display: block;
  width: 17px;
  height: 16px;
  margin: 1px;
  float: left;
  background-image: url(images/providers_icons16.png);
}

.rpx-icon-inline {
  vertical-align: middle;
  margin: 0px;
  display: inline-block;
  float: none;
}

.rpx-provider-title {
  margin-left: 5px;
}

/* We don't want bullets in the admin/config/people/rpx provider list */
.item-list ul li {
  list-style-type: none !important;
}

.rpx-facebook-small {
  background-position: -17px 0px;
}

.rpx-google-small {
  background-position: -34px 0px;
}

.rpx-linkedin-small {
  background-position: -52px 0px;
}

.rpx-myspace-small {
  background-position: -68px 0px;
}

.rpx-twitter-small {
  background-position: -87px 0px;
}

.rpx-live_id-small {
  background-position: -104px 0px;
}

.rpx-yahoo-small {
  background-position: -121px 0px;
}

.rpx-aol-small {
  background-position: -138px 0px;
}

.rpx-blogger-small {
  background-position: -155px 0px;
}

.rpx-flickr-small {
  background-position: -172px 0px;
}

.rpx-hyves-small {
  background-position: -190px 0px;
}

.rpx-livejournal-small {
  background-position: -207px 0px;
}

.rpx-myopenid-small {
  background-position: -224px 0px;
}

.rpx-netlog-small {
  background-position: -242px 0px;
}

.rpx-openid-small {
  background-position: -259px 0px;
}

.rpx-verisign-small {
  background-position: -276px 0px;
}

.rpx-wordpress-small {
  background-position: -294px 0px;
}

.rpx-paypal-small {
  background-position: -312px 0px;
}

#user-login-form .rpx-links,
#user-login .rpx-links {
  overflow: auto;
  width: 100%
}

#user-login-form .rpx-links li,
#user-login .rpx-links li {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}

#user-login .rpx-links {
  padding-left: 0;
}

.rpx-button-social {
  display: inline;
  font-size: 14px;
  font-family: sans-serif;
  color: #FFF;
  background-color: #074764;
  background-repeat: no-repeat;
  background-position: 2px center;
  padding: 4px 4px 2px 6px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  position: relative;
}

.rpx-button-social:hover {
  cursor: pointer;
}

.rpx-button-social span {
  margin-left: -999em;
  position: absolute;
}

.rpx-button-social:hover span {
  border-radius: 5px 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font-family: sans-serif;
  position: absolute;
  left: 12px;
  top: -52px;
  z-index: 99;
  width: 76px;
  margin-left: 0px;
  border: 1px solid #666;
}

.rpx-button-social-sharetip {
  padding: 7px;
  background: #F0F0F0;
  color: #666;
  text-align: left;
}
